{% extends 'basic.html' %}

{% block title %} Home {% endblock %}
    {% block css %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

.banner-img{
    width: 100%;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;

    background-size: cover; /* or contain depending on what you want */
  background-position: center center;

}
.card-full{
    width: 100%;
    height: auto;
    border-radius: 30px;
    overflow: hidden;

    background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-color: #fff0f3;
}
p{
font-size:20px;
text-align: justify;


}
bg-card{
    background-color:#fff0f3;
}
h1{
font-size:40px;
font-family: 'Poppins', sans-serif;
}
bg-cherry{
    background-color:#ff6b87;
}


   {% endblock %}


{% block body %}
{% load static %}


    <!-- Custom styles for this template -->



<div class="container">
    <div class="w-100 d-flex p-5 banner-img" id="" style="background-image: url({% static 'media/banner3.jpg' %});">
        <div class="content text-left">
            <p class="text-white fw-normal display-6">Caption your YouTube video</p>
            <p class="text-danger fw-normal display-4">JUST FOR 7$</p>
            <p class="text-white fw-normal display-6">& more...</p>
            <div class="py-5" >
<a href="pricing">
                <button type="button" class="btn btn-outline-light"
                        style="height:50px; width:160px; border-radius:10px; font-size:20px;">View Pricing
                </button></a>
            </div>

        </div>
    </div>
    <hr>
    <div class="container p-4 ">
        <h1>What we do?</h1>
        <p>We provide two services that you can choose from<br>
            1. Professionally made captions for your videos/podcasts. <br>
            2. Editing short videos/reels/TikToks. <br><br>

            Our team of editors will beautifully edit and caption your short videos to accelerate your content growth.
            Short videos have more reach and can act as a catalyst to the growth of your content. We provide the best
            value for money without compromising the highest standards that you deserve. Click here to see a sample of
            our work.
        </p>

    </div>
    <hr>
    <div class="container p-4">
        <h1 class="my-3">Why use captions on your videos?</h1>
        <p>Adding manual captions to your videos can be a critical part of your video content strategy. <br>
            • Your content will appear in more search results (Improved SEO). <br>
            • Provides clarity on technical terminology (automatic captions contain many errors on technical terms and
            grammar).<br>
            • Helpful for Non-English speakers and viewers with learning disabilities, attention deficits or autism.<br>
            • A video with captions has more views, watch time and retention than the same video without
            captions.<br><br>
            ... all this for a very small investment!
        </p>
    </div>




    <!--  <div class="overflow-hidden p-3 p-md-5 m-md-3 text-center banner-img " id="" style="background-image: url({% static 'media/banner_img.jpg' %})">-->
    <!--    <div class=" col-md-5 p-lg-5 mx-auto my-3" style="color: white;">-->
    <!--      <h3 class="display-6 fw-normal">LOOKING FOR SUBTITLES FOR YOUR VIDEOS?</h3>-->
    <!--      <h1 class="display-4 fw-normal">YOU'RE AT THE RIGHT PLACE.</h1>-->
    <!--      &lt;!&ndash; <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>-->
    <!--      <a class="btn btn-outline-secondary" href="#">Coming soon</a> &ndash;&gt;-->
    <!--    </div>-->

    <!--  </div>-->

    <div class="d-md-flex flex-md-equal w-100 py-5 my-md-3 ps-md-3">
        <div class="bg-dark me-md-3 py-4 px-md-5 text-center text-white overflow-hidden"
             style="border-radius: 30px; height:300px;">
            <div class="my-3 p-5">
                <h1 class="display-5">100+</h1>
                <h3 class="lead">TOTAL HOURS CAPTIONED</h3>
            </div>

        </div>
        <div class="bg-card me-md-3 py-4 p-5  pt-md-5 px-md-5 text-center overflow-hidden"
             style="border-radius: 30px; height:300px;">
            <div class="my-3 p-3">
                <h1 class="display-5">12</h1>
                <h3 class="lead">HOURS DELIVERY TIME</h3>
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="bg-card me-md-3 py-4 px-md-5 text-center overflow-hidden"
             style="border-radius: 30px; height:300px;">
            <div class="my-3 py-3">
                <h1 class="display-5">50+</h1>
                <h3 class="lead">REELS CAPTIONED</h3>
            </div>

        </div>
        <div class="bg-dark me-md-3 py-4 p-5  pt-md-5 px-md-5 text-white text-center overflow-hidden"
             style="border-radius: 30px; height:300px;">
            <div class="my-3 p-3">
                <h1 class="display-5">99%</h1>
                <h3 class="lead">ACCURACY</h3>
            </div>
        </div>
    </div>

    <div class="container py-5 justify-content-center">
        <h1>Creators that Trust us</h1>


<div class="text-center p-4">
        <a href="https://www.youtube.com/c/MaxMaher?app=desktop" target=”_blank” style="margin-top: 50px;">
            <img class="rounded-circle"
                 src="https://obpedia.com/wp-content/uploads/2022/02/MAX1.jpg"
                 alt="Generic placeholder image" width="140" height="140" >

        </a>
        <h5 style="color:red">Max Maher</h5>
    <h6>800k+ subcribers on YouTube</h6>
</div>

    </div>

    <div class="container justify-content-center">
        <h1>Captions for the Platforms</h1>
        <div class="container p-5 text-center">
  <div class="row">
    <div class="col-2">
      <img src="{% static 'media/yt.png' %}" width="80" height="80">
    </div>
    <div class="col-2">
      <img src="{% static 'media/spotify.png' %}"  width="80" height="80">
    </div>
    <div class="col-2">
      <img src="{% static 'media/insta.png' %}"  width="80" height="80">
    </div>
      <div class="col-2">
      <img src="{% static 'media/tiktok.png' %}"  width="80" height="80">
    </div>
    <div class="col-2">
      <img src="{% static 'media/gpod.png' %}"  width="80" height="80">
    </div>
    <div class="col-2">
      <img src="{% static 'media/fb.png' %}"  width="80" height="80">
    </div>
  </div>
</div>


    </div>


<div class="container">
    <div >
        <h1>Meet the Founders</h1>
    </div>

    <div class="row my-5 py-5">
        <div class="col-lg-6 px-5">
            <img class="rounded-circle"
                 src="{% static 'media/tarun.jpg' %}"
                 alt="Generic placeholder image" width="140" height="140">
            <h2>Tarun</h2>
<!--            <h7 class="text-muted">CTO</h7>-->
            <p>Hey there, I'm Tarun Bijanapally, a student of IIT Delhi, India. I founded CaptionTree to solve creators' post production problems by helping them with the best in class service at the lowest possible price. As subtitling videos can be expensive for many creators, my vision with CaptionTree is to make it the perfect place for creators to improve their reach using high quality captions and short videos. We have a high quality team and build tech that will deliver accurate results.</p>
<!--            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-6 px-5">
            <img class="rounded-circle bg-dark"
                 src="{% static 'media/adarsh.jpeg' %}"
                 alt="Generic placeholder image" width="140" height="140" style="object-fit: contain">
            <h2>Adarsh</h2>
<!--            <h7 class="text-muted">CEO, CTO</h7>-->
            <p>Hey there, I'm Tarun Bijanapally, a student of IIT Delhi, India. I founded CaptionTree to solve creators' post production problems by helping them with the best in class service at the lowest possible price. As subtitling videos can be expensive for many creators, my vision with CaptionTree is to make it the perfect place for creators to improve their reach using high quality captions and short videos. We have a high quality team and build tech that will deliver accurate results.</p>
<!--            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
        </div><!-- /.col-lg-4 -->

    </div>
    </div>

{% endblock %}

{% block jss %}


    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}

